<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls </title>
</head>
<body>
  <h1>Welcome to the polls application</h1>

  <a href="http://127.0.0.1:8000/polls/register" title="Register">Register</a>
  <a href="http://127.0.0.1:8000/polls/create" title="Create">Create new poll</a>
  <a href="http://127.0.0.1:8000/polls/search" title="Search polls">Search polls</a>
  <a href="http://127.0.0.1:8000/polls/register" title="Register">Register</a>
  <p>Vote: http://127.0.0.1:8000/polls/'question id'/search</p>
  <p> Detail page: http://127.0.0.1:8000/polls/'question_id'/detail

 </p>
</body>
</html>
